*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body{
	width: 100%;
	background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
	.navbar-inverse .navbar-nav>li>a:hover{
	background: #fff;
	color: #000;
	transition-duration: 0.7s;
}
.team{
	text-align: center;
	padding-top: 40px;	
}
#line{
	height: 1px;
	background: gray;
	border-bottom: gray;
}
	.team h2{
		font-weight: bold;
	} 
.peoples{
	padding-top: 10px;
	text-align: center;
}
	.peoples img{
	width: 200px;
	}
		.peoples p{
			padding-top: 10px;
			text-align: center;
		}
			.peoples h3{
				text-align: center;
				font-weight: bold;
			}
.work{
	margin-top: 50px;
	background: #333333;
	color: #fff;
	text-align: left;
	padding: 50px;
}
.work h3{
	text-align: center;
	color: blue;
	font-weight: bold;
	letter-spacing: 0.3em;
}
.contact{
	text-align: center;
	color: #fff;
}
.fundo{
	padding: 10%;
	background-image: url(../images/capa.jpg);
	background-size: cover;
	width: 100%;
	background-size: 100%;
}
.btn{
	background: blue;
	padding-right: 2%;
	padding-left: 2%;
	color: #fff;
}
.btn:hover{
	font-weight: bold;
	transition-duration: 0.4s;
}